.Weather {
  margin: 20px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 20px 20px;
  box-sizing: border-box;
}

form {
  font-size: 20px;
  margin-bottom: 30px;
}

h2,
h3 {
  text-align: left;
  font-size: 16px;
  line-height: 15px;
}

h1 {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(236, 118, 138);
  font-style: italic;
}

h4,
h5,
h6 {
  text-align: right;
  font-size: 16px;
  font-style: italic;
}

h3 {
  margin-bottom: 0px;
  text-transform: capitalize;
}

h4 {
  line-height: 15px;
}

h5 {
  margin-bottom: 5px;
}

h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.box {
  background: #ffffff;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 10px;
  padding: 15px;
}

body {
  background-color: #f7f5fc;
}

footer {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.col-6 {
  box-sizing: border-box;
  color: rgb(236, 118, 138);
  display: block;
  flex-basis: 50%;
  font-size: 16px;
  font-weight: 400;
  height: 128px;
  line-height: 24px;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  text-size-adjust: 100%;
  width: 320px;
}

.btn {
  background-color: rgb(236, 118, 138);
  font-weight: bold;
  border: none;
}

img {
  position: relative;
  top: -50px;
}

.temp {
  text-decoration: none;
  color: rgb(236, 118, 138);
}

.temp:hover {
  color: blue;
}
